*{
    margin: 0;
    padding: 0;
}
header {
    background-color: #003;
    color:floralwhite;
    height:100vh;
    width:25vw;
    text-align:center;
    display:none;
    position:absolute;
}

#aman3 nav ul li{
    font-size:30px;
    margin:5px;
}
.container1{
    display:grid;
    grid-template-columns: 10% 50% 30%;
    background-color: grey;
    justify-content: center;
    align-items: center;
    grid-column-gap: 2px;
}
button{
    background-color: none;
}
#aman9{
    font-size:30px;
    padding-top:30px;
}
#aman50{
    font-size:30px;
}

@media screen and (max-width:600px) {
    header {
        background-color: #003;
        color:floralwhite;
        height:100vh;
        width:60vw;
        text-align:center;
        display:none;
        position:absolute;
    }
    .container1{
        display:grid;
        grid-template-columns: 10% 60% 20%;
        background-color: grey;
        /* justify-content: center; */
        align-items: center;
        grid-column-gap: 2px;
    }
    #aman3 nav ul li{
        font-size:20px;
        margin-top:15px;
        cursor:pointer;
    }
    #aman50{
        margin-top:30px;
        font-size:20px;
    }
    #aman51{
        width:30px;
    }
  #sukri{
      color:white;
  }
    #aman9{
        font-size:15px;
    }
    
}

#aman30{
    color:white;
    float:left;
    margin-top:5px;
    
}

